#title {

    color: white;

}

#output {

    color: white;

}

.center, aside, section {

    display: flex;

    justify-content: center;

}

html {

    background-color: rgb(75, 0, 75);

}

button {

    color: rgb(150, 0, 150);

}

p {

    color: rgb(150, 0, 150); 

}