#title {

    color: white;

}

#output {

    color: white;

}

.center, aside, section {

    display: flex;

    justify-content: center;

}

html {

    background-color: rgb(50, 0, 50);

}

button, p {

    color: rgb(225, 0, 225);

}